<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>Over the past years, we gained the trust of our clients. Join us in our mission!</p>
            <ul class="footer-links">
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.google.ro/maps/place/Timi%C8%99oara/@45.7410432,21.14655,12z/" style="font-size: 14px"><i class="fa fa-map-marker"></i>Timisoara</a></li>
              <li><a href="#" style="font-size: 14px"><i class="fa fa-phone"></i>+40770000000</a></li>
              <li><a href="#" style="font-size: 14px"><i class="fa fa-envelope-o"></i>computersystem@email.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li><button class="btn" style="color: lightgrey" (click)="this.filterCategory('LAPTOP')">Laptops</button></li>
              <li><button class="btn" style="color: lightgrey" (click)="this.filterCategory('ACCESSORIES')">Accessories</button></li>
              <li><button class="btn" style="color: lightgrey" (click)="this.filterCategory('PC')">PC</button></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a href="/cart">View Cart</a></li>
              <li><a href="/wishlist">Wishlist</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
          </ul>
          <span class="copyright">
								Copyright &copy; All rights reserved
          </span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
