<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="#">Home</a></li>
          <li><a href="#">All Categories</a></li>
          <li class="active">{{product?.category.name}}</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
          <div class="product-preview">
            <img src="{{product?.photo}}" alt="{{product?.name}}">
          </div>
        </div>
      </div>
      <!-- /Product main img -->
      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{product.name}}</h2>
          <div>
            <div class="product-rating">
              <span *ngFor="let n of [].constructor(product?.stars);"><i class="fa fa-star"></i> </span>
              <span *ngFor="let s of [].constructor(5-product?.stars);"><i class="fa fa-star-o"></i> </span>
            </div>
            <a class="review-link" href="#">{{product?.reviewList.length}} Review(s) | Add your review</a>
          </div>
          <div>
            <h3 class="product-price">{{product?.price - product?.price * product?.sale / 100 | currency: 'EUR'}}
              <del *ngIf="product?.sale" class="product-old-price">{{product?.price}}</del>
            </h3>
            <span class="product-available">{{product?.quantity ? 'In stock' : 'Not available'}}</span>
          </div>
          <p>{{product?.description}}</p>

          <div *ngIf="product?.quantity" class="add-to-cart">
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input type="number" [max]="product?.quantity" [min]="1" readonly #quantity value="{{product?.quantity >= 1 ? 1 : 0}}">
                <span class="qty-up" (click)="increase()">+</span>
                <span class="qty-down" (click)="decrease()">-</span>
              </div>
            </div>
            <button class="add-to-cart-btn" (click)="addToCart(product?.id)"><i class="fa fa-shopping-cart"></i>Add to cart</button>
          </div>

          <ul class="product-btns">
            <li><button class="btn btn-warning justify-content-between" (click)="addToWishlist(product?.id)"><i class="fa fa-heart-o"></i> add to wishlist</button></li>
<!--            <li><a href=""><i class="fa fa-heart-o"></i> add to wishlist</a></li>-->
          </ul>

          <ul class="product-links">
            <li>Category:</li>
            <li>
              <button type="button" class="btn" (click)="this.filterCategory(product?.category.name)">{{product?.category.name}}</button>
            </li>
          </ul>

          <ul class="product-links">
            <li>Share:</li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>

        </div>
      </div>
      <!-- /Product details -->

      <!-- Product tab -->
      <div class="col-md-12">

        <!-- Tab links -->
        <div class="tab">
          <button class="tab-pane" (click)="selectProductTab('Description')" id="defaultOpen">Description</button>
          <button class="tab-pane" (click)="selectProductTab('Reviews')">Reviews</button>
        </div>

        <!-- Tab content -->
        <div id="Description" class="tabcontent">
          <h3>Description</h3>
          <p>{{product.description}}</p>
        </div>

        <div id="Reviews" class="tabcontent">
          <h3>Reviews</h3>

          <div class="col-md-12 d-flex mb-5">
            <div class="d-flex justify-content-between flex-sm-column flex-md-row w-100">
              <!-- Review Form -->
              <div class="col-md-8">
                <div id="review-form">
                  <form class="review-form">
                    <input class="input" type="text" placeholder="Your Name">
                    <input class="input" type="email" placeholder="Your Email">
                    <textarea class="input" placeholder="Your Review"></textarea>
                    <div class="input-rating">
                      <span>Your Rating: </span>
                      <div class="stars">
                        <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                        <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                        <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                        <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                        <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                      </div>
                    </div>
                    <button class="primary-btn">Submit</button>
                  </form>
                </div>
              </div>
              <!-- /Review Form -->

              <!-- Rating -->
              <div class="col-md-3">
                <div id="rating">
                  <div class="rating-avg">
                    <span>{{calculateAvgRating(product)}}</span>
                    <div class="rating-stars">
                      <span *ngFor="let n of [].constructor(calculateAvgRating(product));"><i class="fa fa-star"></i> </span>
                      <span *ngFor="let s of [].constructor(5 - calculateAvgRating(product));"><i class="fa fa-star-o"></i> </span>
                    </div>
                  </div>
                  <ul class="rating">
                    <li>
                      <div class="rating-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <span class="sum" style="margin-left: 10px">{{ratingsFor(product, 5)}}</span>
                    </li>
                    <li>
                      <div class="rating-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                      <span class="sum" style="margin-left: 10px">{{ratingsFor(product, 4)}}</span>
                    </li>
                    <li>
                      <div class="rating-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                      <span class="sum" style="margin-left: 10px">{{ratingsFor(product, 3)}}</span>
                    </li>
                    <li>
                      <div class="rating-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                      <span class="sum" style="margin-left: 10px">{{ratingsFor(product, 2)}}</span>
                    </li>
                    <li>
                      <div class="rating-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                      <span class="sum" style="margin-left: 10px">{{ratingsFor(product, 1)}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /Rating -->
            </div>
          </div>

          <!-- Reviews -->
          <div class="col-md-6">
            <div id="reviews">
              <ul class="reviews">
                <li>
                  <div class="review-heading">
                    <h5 class="name">John</h5>
                    <p class="date">27 DEC 2018, 8:0 PM</p>
                    <div class="review-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o empty"></i>
                    </div>
                  </div>
                  <div class="review-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua</p>
                  </div>
                </li>
                <li>
                  <div class="review-heading">
                    <h5 class="name">John</h5>
                    <p class="date">27 DEC 2018, 8:0 PM</p>
                    <div class="review-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o empty"></i>
                    </div>
                  </div>
                  <div class="review-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua</p>
                  </div>
                </li>
                <li>
                  <div class="review-heading">
                    <h5 class="name">John</h5>
                    <p class="date">27 DEC 2018, 8:0 PM</p>
                    <div class="review-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o empty"></i>
                    </div>
                  </div>
                  <div class="review-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Reviews -->
        </div>
      </div>
      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
