<div class="login-form-flex bg" align="center">
  <mat-card align="center" style="height: 340px; width: 300px; text-align: center">
    <br>
    <mat-card-title>
      <h1 style="color: lightsteelblue">Login</h1>
    </mat-card-title>
    <mat-card-content>
      <br>
      <mat-form-field color="accent" style="font-size: 16px" >
        <input matInput placeholder="Username" [(ngModel)]="username"/>
      </mat-form-field>
      <br>
      <mat-form-field color="accent" style="font-size: 16px" >
        <input type="password" matInput placeholder="Password" [(ngModel)]="password"/>
      </mat-form-field>
      <br>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button style="color: #333333; background-color: lightsteelblue; font-size: 17px" (click)="login()">Login</button>
      <button mat-button color="accent" style="font-size: 17px; text-align: center" (click)="register()">Register</button>
    </mat-card-actions>
  </mat-card>
</div>

